DirectorySlash Off
RewriteEngine On
RewriteBase /
#RewriteRule ^auth/login$ auth/login/index.php [L]
#№RewriteRule ^auth/getpass$ auth/getpass/index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(\.php)$ [NC]
RewriteRule ^(.+) $1\.php [L]
