<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<base href="/" target="_top"><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes">
<title>История пожертвований</title><meta property="og:title" content="История пожертвований">
<meta name="description" content="Здесь Вы можете быстро увеличить любую сумму в 5 раз">
<meta property="og:description" content="Здесь Вы можете быстро увеличить любую сумму в 5 раз">
<meta name="keywords" content="движка, деньги из воздуха, не работать"><link rel="icon" href="http://dvjk.ru/tpl/sitepic.png" sizes="200x200">
<link rel="icon" href="http://dvjk.ru/favicon.ico" sizes="16x16"><link rel="shortcut icon" href="http://dvjk.ru/favicon.ico">
<link rel="image_src" href="http://dvjk.ru/tpl/sitepic.png"><meta property="og:image" content="http://dvjk.ru/tpl/sitepic.png">
<link rel="stylesheet" href="http://dvjk.ru/tpl/css/main.css?cv=13">
<script type="text/javascript" src="http://cdn.rfsb.net/c/js/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://dvjk.ru/tpl/js/main.js?cv=13"></script>
<script type="text/javascript">var dvjk_rh = 'c651aba61649ea995626b11296d9384c';</script></head>
<body><div class="page"><div class="main"><div class="main_l"><a class="logo" href="/">
<img alt="движка.рф" src="http://dvjk.ru/tpl/css/img/logo_v2.png"></a><div class="keysbox">
<a href="http://qiwi.com/" target="_blank" title="Сайт QIWI Кошелька"><img alt="QIWI" src="http://dvjk.ru/tpl/css/img/logo_qiwi.png"></a></div></div>
<div class="main_r"><div class="contentbox"><ul class="topline"><li title="Ваш QIWI Кошелек: +7{PHONE}"><b>+7{PHONE}</b></li>
<li title="Вы пожертвовали: {YOUSELF_DONATED} рублей"><i class="ico16 ico16-out"></i>{YOUSELF_DONATED}</li><li title="Вам пожертвовали: {4YOU_DONATED} рублей"><i class="ico16 ico16-in"></i>{4YOU_DONATED}</li><li title="Количество приглашенных Вами участников: {REF}"><i class="ico16 ico16-reg"></i>{REF}</li><li title="Ваша ссылка для привлечения новых участников"><a href="http://dvjk.ru/ref34353038">http://dvjk.ru/ref34353038</a></li></ul><ul class="mainmenu"><li><a href="/">Главная</a></li><li class="current"><a href="/history">История</a></li><li><a href="/about">О проекте</a></li><li><a href="/auth/logout">Выход</a></li></ul><div class="content">

В этом разделе находится список завершенных переводов.
<br><br><ul class="tabs"><li class="current"><a href="/history">Сегодня</a></li><li><a href="/history/yesterday">Вчера</a></li><li><a href="/history/all">За все время</a></li></ul><br><br><div class="rowshead">Вам пожертвовали:</div>Вам ничего не пожертвовали.<div class="rowshead">Вы пожертвовали:</div>Вы ничего не пожертвовали.</div></div></div></div><div class="footer"><span>Ваш IP: <span title="IP">{IP}</span></span><span>ДВИЖКА.РФ ( DVJK.RU ) © 2013</span><a href="/">Главная</a><a href="/rules">Правила</a><a href="/breakers">Нарушители</a><a href="/support" target="_blank">Помощь</a></div></div><script type="text/javascript">

</script><script type="text/javascript" src="http://urid.zuid.me/urid.js"></script></body></html>
