<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<base href="/" target="_top"><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes">
<title>ДВИЖКА - Деньги из воздуха</title>
<meta property="og:title" content="ДВИЖКА - Деньги из воздуха">
<meta name="description" content="Здесь Вы можете быстро увеличить любую сумму в 5 раз">
<meta property="og:description" content="Здесь Вы можете быстро увеличить любую сумму в 5 раз">
<meta name="keywords" content="движка, деньги из воздуха, не работать">
<link rel="icon" href="/tpl/sitepic.png"><link rel="image_src" href="/tpl/sitepic.png">
<meta property="og:image" content="/tpl/sitepic.png">
<link rel="stylesheet" href="/tpl/css/main.css">
<script type="text/javascript" src="http://cdn.rfsb.net/c/js/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="tpl/js/main.js"></script>
<script type="text/javascript">var dvjk_rh = 'b68673e2e91c43146aa250dec049a3c4';</script>
</head><body><div class="page"><div class="main"><div class="main_l"><a class="logo" href="/"><img alt="движка.рф" src="/tpl/css/img/logo_v2.png"></a><div class="keysbox"><a href="http://qiwi.com/" target="_blank" title="Сайт QIWI Кошелька"><img alt="QIWI" src="/tpl/css/img/logo_qiwi.png"></a></div></div><div class="main_r"><div class="contentbox"><div class="content"><div class="intro"><b>ДВИЖКА - это очередь благотворительных пожертвований</b><br>
Вы можете внести 100, 1000, или 10000 рублей на счет одного из участников проекта,
после чего номер Вашего счета будет пятикратно добавлен в очередь на сумму аналогичную Вашему взносу.
Следующие 5 участников вносят благотворительные пожертвования на Ваш счет.
Таким образом любая пожертвованная сумма умножается в 5 раз.
<br><br><b>Сколько ждать своей очереди?</b><br>
Вы можете получать благотворительные пожертвования без очереди.
Для этого необходимо приглашать новых участников по специальной ссылке, которую Вы получите после входа в контрольную панель ( регистрации ).
Все приглашенные Вами участники будут вносить пожертвования на Ваш счет, минуя очередь перед Вами,
пока не оплатят все места в очереди которые Вы заняли до их регистрации.
Вы можете никого не приглашать - в таком случае время ожидания зависит от количества участников стоящих перед Вами и их активности.
<br><br><b>QIWI Кошелек</b><br>
Все переводы осуществляются через QIWI Кошелек. Ваш логин в системе - номер Вашего QIWI Кошелька ( он же - номер Вашего телефона ).
Если у Вас еще нет QIWI Кошелька - его можно завести <a target="_blank" href="https://visa.qiwi.com/register/form.action">по этой ссылке</a>.
Регистрация QIWI Кошелька очень простая процедура, для которой Вам потребуется только мобильный телефон.
Деньги из QIWI Кошелька можно переводить на банковские карты и обналичивать.
<br><br><b>Комиссия системы</b><br>
Мы не берем никаких комиссий.
Все переводы совершаются напрямую между участниками системы без нашего участия.
Мы создали удобную автоматизированную систему, которой сами пользуемся, на общих для всех условиях.
Активно привлекаем новых участников,
и в соответствии с правилами системы все приглашенные нами участники вносят нам пожертвования без очереди,
таким образом мы зарабатываем быстро и много.
Содержать на часть заработанных средств проект, не взымая комиссию с других участников, нам не составляет никакого труда.
<br><br><b>Автоматизация</b><br>
Проектом управляют участники, условия для всех одинаковые.
Система занимается только ведением базы в соответствии с условиями проекта и действиями участников.
Проект настолько прост и автоматизирован, что Вам вряд-ли потребуется помощь администратора.
Тем не менее, дежурный администратор доступен 24 часа в сутки, без выходных.
<br><br><b>Гарантии</b><br>
В системе хорошо проработана защита от мошеничества, если Вас кто-то обманул - Вы ничего не теряете, просто отмечаете что Вас обманули ( для этого есть специальная кнопка ) - мошеник блокируется,
а Вы дальше стоите в очереди и получаете деньги. Если Вы безосновательно отмечаете человека мошеником ( если он предоставит достоверные данные с чека о платеже ) - тогда заблокированы будете Вы.
Таким образом система быстро вычисляет и блокирует не только мошеников, но и всех кто регистрируется здесь просто побаловаться,
а добросовестные участники проекта при этом ничего не теряют и продолжают получать деньги.
<br><br><br><div class="rowshead">Регистрация и вход</div><b>Лицам не достигшим 18 лет участие в проекте запрещено!</b><br><br><form action="#" method="post" onsubmit="return dvjk.start.login(this);"><b>Ваш QIWI Кошелек</b> ( номер телефона ):<br><input id="auth_l" type="text" name="l"><br>
Указывайте в международном формате ( как указано в QIWI Кошельке )<br>
Пример: +79091112233<br><br><b>Пароль</b>:<br><input id="auth_p" type="password" name="p"><br>
Внимание! Здесь необходимо указывать пароль от ДВИЖКИ а не от QIWI Кошелька.<br>
Если Вы еще не зарегистрированы на ДВИЖКЕ или забыли пароль - нажмите сюда: <span id="getpass_keybox"><a onclick="return dvjk.start.getpass();" href="#" title="SMS бесплатные, деньги с телефона не снимают">Выслать SMS с паролем</a></span><br><br><label><input id="auth_s" type="checkbox" name="s"> Запомнить меня на этом устройстве ( не спрашивать логин и пароль при повторном входе )</label><br><br><label><input id="auth_accept" type="checkbox" name="accept"> Соглашаюсь с <a href="/regulations" target="_blank">правилами</a>.</label><br><br><button type="submit">Войти</button></form><br><br><br><div class="rowshead">Тем временем...</div><div class="trows">
{MEANWHILE}
</div></div></div></div></div></div><div class="footer"><span>Ваш IP: <span title="IP">{IP}</span></span><span>DVIJK.RU © 2013</span><a href="/">Главная</a><a href="/regulations">Правила</a><a href="/gamno">Нарушители</a><a href="/support" target="_blank">Помощь</a></div></div></body></html>
