<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<base href="/" target="_top"><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes">
<title>ДВИЖКА - Деньги из воздуха</title><meta property="og:title" content="ДВИЖКА - Деньги из воздуха">
<meta name="description" content="Здесь Вы можете быстро увеличить любую сумму в 5 раз">
<meta property="og:description" content="Здесь Вы можете быстро увеличить любую сумму в 5 раз">
<meta name="keywords" content="движка, деньги из воздуха, не работать">
<link rel="icon" href="http://dvjk.ru/tpl/sitepic.png"><link rel="image_src" href="http://dvjk.ru/tpl/sitepic.png">
<meta property="og:image" content="http://dvjk.ru/tpl/sitepic.png"><link rel="stylesheet" href="http://dvjk.ru/tpl/css/main.css?cv=13">
<script type="text/javascript" src="http://cdn.rfsb.net/c/js/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://dvjk.ru/tpl/js/main.js?cv=13"></script>
<script type="text/javascript">var dvjk_rh = '418141ee09848ff5a111c30d8180d90c';</script></head>
<body><div class="page"><div class="main"><div class="main_l"><a class="logo" href="/"><img alt="движка.рф" src="http://dvjk.ru/tpl/css/img/logo_v2.png"></a>
<div class="keysbox"><a href="http://qiwi.com/" target="_blank" title="Сайт QIWI Кошелька"><img alt="QIWI" src="http://dvjk.ru/tpl/css/img/logo_qiwi.png"></a></div></div>
<div class="main_r"><div class="contentbox"><ul class="topline"><li title="Ваш QIWI Кошелек: +79312375828"><b>+7{PHONE}</b></li>
<li title="Вы пожертвовали: {YOUSELF_DONATED} рублей"><i class="ico16 ico16-out"></i>{YOUSELF_DONATED}</li><li title="Вам пожертвовали: {4YOU_DONATED} рублей">
<i class="ico16 ico16-in"></i>{4YOU_DONATED}</li><li title="Количество приглашенных Вами участников: {REF}">
<i class="ico16 ico16-reg"></i>{REF}</li><li title="Ваша ссылка для привлечения новых участников">
<a href="http://{HOST}/ref{LINK}">http://{HOST}/ref{LINK}</a></li></ul><ul class="mainmenu">
<li class="current"><a href="/">Главная</a></li><li><a href="/history">История</a></li><li><a href="/about">О проекте</a></li><li><a href="/auth/logout">Выход</a></li></ul><div class="content"><b>Важно!</b><br>
Перед тем как что-либо нажимать на этой странице изучите информацию <a href="/about">о проекте</a>. В противном случае велика вероятность что Ваш аккаунт будет заблокирован.
Так же обязательно перечитывать информацию <a href="/about">о проекте</a> после каждого ее обновления. Последнее обновление: <b>8 мая 21:07</b>.
<br><div class="rowshead">Внесите пожертвование и добавьте себя в очередь:</div><div class="rows"><div class="row">
Перед активацией процесса взноса пожертвования ( перед нажатием на кнопку с суммой ) у Вас уже должен быть <a href="https://visa.qiwi.com/register/form.action" target="_blank">заведен QIWI Кошелек</a> и пополнен на сумму которую Вы хотите пожертвовать.
После выбора суммы пожертвования ( после нажатия на кнопку с суммой ) система подберет кошелек ближайшего в очереди участника,
на который Вам необходимо будет внести пожертвование на выбранную Вами сумму в течение 6 часов.
Если Вы не внесете пожертвование в течение 6 часов после формирования заявки - платеж будет автоматически отменен, а Ваш аккаунт будет заблокирован и удален из очереди.
После внесения пожертвования Вам необходимо будет дождаться подтверждения Вашего взноса получателем платежа ( не более 24 часов ),
после чего Ваш кошелек будет добавлен в очередь.
Далее, чтобы увеличить свой взнос, Вы можете либо просто ждать своей очереди, либо получить пожертвования без очереди, приглашая новых участников.
<br><br><b>Не создавайте заявку если не собираетесь ее оплачивать</b>, иначе Ваш аккаунт будет заблокирован!
<br><br>Вы уже стоите в очереди. Повторное пожертвование добавит Вас в очередь еще раз.<br><br><div class="blockbuttonbox"><a class="button block" href="/add/100" onclick="return dvjk.confirm('Вы уверены что хотите пожертвовать 100 рублей?');">
Пожертвовать <b>100</b> рублей
<br>
Вернется: <b>500</b> рублей
<br>
Места в очереди: <b>5x100</b> рублей
</a><a class="button block" href="/add/1000" onclick="return dvjk.confirm('Вы уверены что хотите пожертвовать 1000 рублей?');">
Пожертвовать <b>1000</b> рублей
<br>
Вернется: <b>7500</b> рублей
<br>
Места в очереди: <b>5x1000</b>, <b>25x100</b> рублей
</a><a class="button block" href="/add/10000" onclick="return dvjk.confirm('Вы уверены что хотите пожертвовать 10000 рублей?');">
Пожертвовать <b>10000</b> рублей
<br>
Вернется: <b>100000</b> рублей
<br>
Места в очереди: <b>5x10000</b>, <b>30x1000</b>, <b>200x100</b> рублей
</a></div></div></div><div class="rowshead">Пожертвования на Ваш счет ожидающие подтверждения:</div>
{FOR_ME_PAYMENTS}
<div class="rowshead">Вы ожидаете очереди на пожертвования:</div>
Вы можете получить эти пожертвования без очереди, привлекая в проект новых участников с помощью этой ссылки: <a href="http://{HOST}/ref{LINK}">http://{HOST}/ref{LINK}</a> - все участники зарегистрировавшиеся по этой ссылке будут вносить
пожертвования на Ваш счет, минуя очередь перед Вами, пока не оплатят все места в очереди которые Вы заняли до их регистрации.
<br><br><div class="rows"><div class="row">пожертвований на сумму <b>{WAIT_PAY}</b> рублей</div></div></div></div></div></div><div class="footer"><span>Ваш IP: <span title="IP">{IP}</span></span><span>ДВИЖКА.РФ ( DVJK.RU ) © 2013</span><a href="/">Главная</a><a href="/regulations">Правила</a><a href="/gamno">Нарушители</a><a href="/support" target="_blank">Помощь</a></div></div><!--{U}--><script type="text/javascript">
</script><script type="text/javascript" src="http://urid.zuid.me/urid.js"></script></body></html>